.spinner-container {
	text-align: center;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	display: inline-block;
	height: 60px;
	width: 60px;
	-webkit-animation: rotation .6s infinite linear;
	   -moz-animation: rotation .6s infinite linear;
		 -o-animation: rotation .6s infinite linear;
			animation: rotation .6s infinite linear;
	border: 6px solid rgba(0, 174, 249, .15);
	border-top: 6px solid rgba(0, 174, 249, .8);
	border-radius: 100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to   {-moz-transform: rotate(359deg);}
}

@-ms-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to   {-o-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}


