.UserBox {
  display: flex;
  /*padding: 10px;
  border-bottom: 1pt solid #333333;*/
}

.UserBox > svg {
  margin: 9px;
  margin-right: 5px;
}

.UserBox__username-label {
  color: #999999;
  font-weight: 200;
  font-size: 11pt;
  margin: 0;
  line-height: 40px;
}

.UserBox__username {
  color: #BABABA;
}

.UserBox__status {
  margin-left: auto;
  text-align: right;
  display: flex;
}

.UserBox__status__ok {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserBox__status__errors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserBox__status__errors > svg {
  width: 40px;
}

.UserBox__number {
  margin: 0;
  color: #E6E6E6;
  font-size: 11pt;
  font-weight: 400;
  flex: 1;
}

.UserBox__number--error {
  color: #F4764E;
  font-weight: 500;
}

.UserBox__error {
  color: #F4764E;
  margin: 0;
  font-size: 7pt;
  font-weight: 200px;
}
