.CampaingBox {
  display: flex;
  /*padding: 10px;
  border-bottom: 1pt solid #333333;*/
  justify-content: center;
  align-items: center;
}

.CampaingBox__label {
  margin: 0;
  margin-right: auto;
  color: #999999;
  font-size: 11pt;
  font-weight: 200;
  line-height: 40px;
}

.SelectBox__select {
  margin-right: 10px;
}

.CampaingBox__campaing {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CampaingBox__campaing__title {
  flex: 1;
  margin: 0;
  padding-left: 12px;
  line-height: 40px;
  color: white;
  font-weight: 200;
}
